absl-py==0.7.0
astor==0.7.1
audioread==2.1.6
cycler==0.10.0
Cython==0.29.5
decorator==4.3.2
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
librosa==0.6.3
llvmlite==0.27.0
Markdown==3.0.1
matplotlib==3.0.2
numba==0.42.0
numpy==1.16.1
protobuf==3.6.1
pyparsing==2.3.1
python-dateutil==2.8.0
PyYAML==3.13
resampy==0.2.1
scikit-learn==0.20.2
scipy==1.2.1
six==1.12.0
tensorboard==1.9.0
tensorflow-gpu==1.9.0
termcolor==1.1.0
tqdm==4.31.1
Werkzeug==0.14.1
